/* Appliquer un fond avec l'image */
body {
    background-image: url('https://images3.alphacoders.com/998/998657.png');
    background-size: cover; /* L'image couvre toute la fenêtre */
    background-position: center center; /* Centrer l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    margin: 0;
    font-family: Arial, sans-serif; /* Choix d'une police générique pour la page */
    color: white; /* Texte blanc pour contraster avec l'image de fond */
    line-height: 1.6; /* Espacement entre les lignes de texte */
}

/* Style du header */
header {
    text-align: center;
    padding: 50px 0;
    font-size: 2.5rem;
    color: #fff;
}

/* Style du contenu principal */
main {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent pour améliorer la lisibilité */
    border-radius: 10px;
    margin: 30px;
}

/* Style des sections */
section {
    margin-bottom: 20px;
}

/* Liens */
a {
    color: #ffcc00; /* Jaune pour les liens */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Souligner les liens lorsqu'ils sont survolés */
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
    color: #fff;
    font-size: 1rem;
}

/* Ajouter un padding général à la page */
* {
    box-sizing: border-box; /* Pour garantir que le padding et les marges n'affectent pas la taille de l'élément */
}
 /* Style pour les boutons de consentement */
.button-group {
    margin-top: 20px;
    text-align: center;
}

.button-accept, .button-refuse {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: #ffcc00; /* Jaune */
    border-radius: 5px;
    font-size: 1rem;
}

.button-accept:hover, .button-refuse:hover {
    background-color: #e6b800;
}

.button-refuse {
    background-color: #ff3300; /* Rouge pour le refus */
}

.button-refuse:hover {
    background-color: #e60000;
}
